Repository dg31234df1/chill, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GuoRentong, @neza2017, @csz007, @jeffoverflow, @scsven, @shengjun1985, @sunby, @xige-16, @test-team

Lock channel at produce and consume
  cmd/singlenode/main.go
  internal/util/rocksmq/rocksmq.go
Owners: @csz007, @scsven, @neza2017, @xige-16

Fix bug (#1053)
  internal/core/src/common/Schema.cpp
Owners: @GuoRentong, @shengjun1985

Refactor release collection warn message
  internal/queryservice/meta_replica.go
  internal/queryservice/queryservice.go
Owners: @xige-16

Remove unused test code
  internal/indexnode/paramtable_test.go
  scripts/run_go_unittest.sh
Owners: @GuoRentong, @neza2017, @csz007

Optimize the workflow for build Devcontainer
  .env
  .github/workflows/publish-builder.yaml
  scripts/devcontainer.sh
Owners: @GuoRentong, @neza2017, @csz007, @jeffoverflow

Add LoadCollection from master
  internal/dataservice/server.go
Owners: @sunby

Update log in datanode
  cmd/datanode/main.go
  cmd/distributed/components/data_node.go
  internal/datanode/collection_replica.go
  internal/datanode/data_node.go
  internal/datanode/data_node_test.go
  internal/datanode/data_sync_service.go
  internal/datanode/flow_graph_dd_node.go
  internal/datanode/flow_graph_dd_node_test.go
  internal/datanode/flow_graph_filter_dm_node.go
  internal/datanode/flow_graph_gc_node.go
  internal/datanode/flow_graph_insert_buffer_node.go
  internal/datanode/flow_graph_message.go
  internal/datanode/meta_service.go
  internal/datanode/param_table.go
  internal/distributed/datanode/client/client.go
  internal/distributed/datanode/service.go
Owners: @csz007, @scsven, @sunby

.github/CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @GuoRentong @neza2017 @csz007
/.github/workflows/      @jeffoverflow
/.jenkins/modules/       @jeffoverflow
/build/                  @jeffoverflow
/cmd/                    @csz007 @scsven
/deployments/            @jeffoverflow
/docs/                   @GuoRentong
/githooks/               @jeffoverflow
/internal/*              @csz007
/internal/core/          @GuoRentong @shengjun1985
/internal/datanode/      @sunby
/internal/dataservice/   @sunby
/internal/distributed/*  @csz007 @neza2017
/internal/distributed/datanode/       @sunby
/internal/distributed/dataservice/    @sunby 
/internal/distributed/indexnode/      @csz007
/internal/distributed/indexservice/   @csz007
/internal/distributed/masterservice/  @neza2017
/internal/distributed/proxynode/      @csz007
/internal/distributed/proxyservice/   @csz007
/internal/distributed/querynode/      @xige-16
/internal/distributed/queryservice/   @xige-16
/internal/kv/            @csz007 @scsven
/internal/log/           @sunby
/internal/masterservice/ @neza2017
/internal/msgstream/     @xige-16 @scsven
/internal/querynode/     @xige-16
/internal/queryservice/  @xige-16
/internal/storage/       @neza2017 @sunby
/internal/util/          @neza2017 @csz007 @xige-16 @scsven
/tests/                  @test-team
