Repository dg31234df1/chill, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GuoRentong, @neza2017, @czs007, @jeffoverflow, @scsven, @shengjun1985, @sunby, @xige-16, @test-team

.github/CODEOWNERS:

# Each line is a component followed by one or more owners. 

*                        @GuoRentong @neza2017 @czs007
/.github/workflows/      @jeffoverflow
/.jenkins/modules/       @jeffoverflow
/build/                  @jeffoverflow
/cmd/                    @czs007 @scsven
/deployments/            @jeffoverflow
/docs/                   @GuoRentong
/githooks/               @jeffoverflow
/internal/*              @czs007
/internal/core/          @GuoRentong @shengjun1985
/internal/datanode/      @sunby @neza2017 @czs007
/internal/dataservice/   @sunby @neza2017 @czs007
/internal/distributed/*  @czs007 @neza2017
/internal/distributed/datanode/       @sunby @neza2017 @czs007
/internal/distributed/dataservice/    @sunby  @neza2017 @czs007
/internal/distributed/indexnode/      @czs007 @neza2017
/internal/distributed/indexservice/   @czs007 @neza2017
/internal/distributed/masterservice/  @neza2017 @czs007
/internal/distributed/proxynode/      @czs007 @neza2017
/internal/distributed/proxyservice/   @czs007 @neza2017
/internal/distributed/querynode/      @xige-16 @neza2017 @czs007
/internal/distributed/queryservice/   @xige-16 @neza2017 @czs007
/internal/kv/            @czs007 @scsven @neza2017
/internal/log/           @sunby @neza2017 @czs007
/internal/masterservice/ @neza2017 @czs007
/internal/msgstream/     @xige-16 @scsven @neza2017 @czs007
/internal/querynode/     @xige-16 @neza2017 @czs007
/internal/queryservice/  @xige-16 @neza2017 @czs007
/internal/storage/       @neza2017 @sunby @czs007
/internal/util/          @neza2017 @czs007 @xige-16 @scsven
/tests/                  @test-team

add unit test for master's grpc server, the coverage of package "internal/distributed/masterservice" increase from 46.6% to 82.9% (#5019)
  internal/dataservice/mock_test.go
  internal/distributed/masterservice/masterservice_test.go
  internal/distributed/masterservice/server.go
  internal/types/types.go
Owners: @sunby, @neza2017, @czs007, @GuoRentong

Remove `SetSegmentState` and seal segment in segment allocator (#4994)
  internal/dataservice/meta.go
  internal/dataservice/meta_test.go
  internal/dataservice/segment_allocator.go
  internal/dataservice/watcher.go
Owners: @sunby, @neza2017, @czs007

update docker-compose configuration (#5029)
  deployments/docker/.env
  deployments/docker/docker-compose.distributed.yml
  deployments/docker/docker-compose.standalone.yml
Owners: @jeffoverflow

Use internal dsl and placeholder group (#5033)
  internal/querynode/search_collection.go
Owners: @xige-16, @neza2017, @czs007

[skip ci]Update mergify rules (#5035)
  .github/mergify.yml
Owners: @GuoRentong, @neza2017, @czs007

fix flock, lock the pid file during the processing is running (#5037)
  cmd/distributed/main.go
Owners: @czs007, @scsven

add more testcase to improve code coverage for data service (#5041)
  internal/dataservice/server.go
  internal/dataservice/server_test.go
Owners: @sunby, @neza2017, @czs007

remove .env and update docker-compose yml (#5048)
  deployments/docker/.env
  deployments/docker/distributed/docker-compose.yml
  deployments/docker/docker-compose.yml
  deployments/docker/singlenode/docker-compose.yml
Owners: @jeffoverflow

Update milvus project name (#5032)
  .env
  .github/workflows/main.yaml
  .github/workflows/publish-builder.yaml
  .github/workflows/publish-test-images.yaml
  .jenkins/modules/Build/Build.groovy
  .jenkins/modules/Publish/Publish.groovy
  .jenkins/modules/Regression/PythonRegression.groovy
  build/ci/jenkins/Jenkinsfile
  build/ci/jenkins/pod/build-env.yaml
  build/ci/jenkins/pod/docker-pod.yaml
  build/docker/deploy/.env
  build/docker/deploy/docker-compose.yml
  build/docker/milvus/Dockerfile
  cmd/singlenode/main.go
  deployments/docker/distributed/docker-compose.yml
  deployments/docker/singlenode/docker-compose.yml
  docs/developer_guides/entrypoint.md
  docs/jaeger_guides/Opentracing User Guide.md
  scripts/run_docker.sh
  tests/python_test/docker-compose.yml
Owners: @GuoRentong, @neza2017, @czs007, @jeffoverflow, @scsven, @test-team

index name is unique in collection scope (#5046)
  internal/distributed/masterservice/masterservice_test.go
  internal/masterservice/master_service_test.go
  internal/masterservice/meta_table.go
  internal/masterservice/meta_table_test.go
  internal/masterservice/task.go
Owners: @neza2017, @czs007

rename all singlenode to standalone (#5051)
  Makefile
  build/ci/jenkins/Jenkinsfile
  cmd/distributed/roles/roles.go
  cmd/standalone/main.go
  deployments/docker/distributed/docker-compose.yml
  deployments/docker/standalone/docker-compose.yml
Owners: @GuoRentong, @neza2017, @czs007, @jeffoverflow, @scsven

Fix panic bug when server stop with alias (#5054)
  cmd/distributed/main.go
Owners: @czs007, @scsven

remove tests/python (#5057)
  tests/python/__init__.py
  tests/python/conftest.py
  tests/python/constants.py
  tests/python/factorys.py
  tests/python/pytest.ini
  tests/python/requirements.txt
  tests/python/test_create_collection.py
  tests/python/test_describe_collection.py
  tests/python/test_drop_collection.py
  tests/python/test_get_collection_info.py
  tests/python/test_has_collection.py
  tests/python/test_index.py
  tests/python/test_insert.py
  tests/python/test_list_collections.py
  tests/python/test_load_collection.py
  tests/python/test_load_partitions.py
  tests/python/test_partition.py
  tests/python/test_search.py
  tests/python/utils.py
Owners: @test-team

Update milvus builder image version (#5058)
  .env
  build/ci/jenkins/pod/build-env.yaml
Owners: @GuoRentong, @neza2017, @czs007, @jeffoverflow

the return struct of "DescribeIndex" should contain "filed_name" (#5055)
  internal/core/src/pb/milvus.pb.cc
  internal/core/src/pb/milvus.pb.h
  internal/distributed/masterservice/masterservice_test.go
  internal/masterservice/master_service_test.go
  internal/masterservice/meta_table.go
  internal/masterservice/meta_table_test.go
  internal/masterservice/task.go
  internal/masterservice/util.go
  internal/masterservice/util_test.go
  internal/proto/milvus.proto
  internal/proto/milvuspb/milvus.pb.go
Owners: @GuoRentong, @shengjun1985, @neza2017, @czs007
